* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #849d8f;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  font: inherit;
  outline: none;
}

select {
  font: inherit;
}

textarea {
  font: inherit;
}

body {
  margin: 0;
}

svg {
  pointer-events: none;
}

.header-top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
   
   }
   .header-inner {
   display: flex;
   flex-flow: flex-end;
   
   }
   
   .user-navigation{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
       margin: 0;
       padding: 0;
       width: 310px;
     }
     
     .user-navigation li:not(:last-child){
       margin-right: 12px;
     }
     
     .user-navigation>li:first-child{
       margin-left: 22px;
     }
     
   
   .header-bottom {
       margin-top: -8px;
       margin-bottom: 30px;
     }

     .header-info {
        display: flex;
        justify-content: flex-end;
    
    }

.logo {
    width: 130px;
    object-fit: contain;
   }
   
   .nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
   }
   
   .nav__item {
    padding: 4px  8px;
   
   }
   
   .nav__item:not(:last-child) {
    margin-right: 8px;
   }
   
   .nav__item:hover {
    border-radius: 20px;
    color: black;
    background-color: white;
   }
   
   .nav__link {
    font-weight: 700;
    color: #fff;
   }

   
  .footer-social a { 
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 7px;
  
    font-size: 0;
  
    border: 4px solid rgba(194, 206, 199, 1.0);
  
    border-radius: 50%;
    opacity: 0.8;
    vertical-align: bottom;
  }
.page-footer {
display: flex;
margin-left: 200px;
margin-right: 200px;
margin-top:50px;
margin-bottom:50px;
}

.footer-social {

width: 350px;


}
.documents-wrapper {
    width: 200px;

}

.footer-copyright {

 
    width: 500px;
    margin-left: 400px;
}

.offers1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    margin-bottom: 40px;
    width: 860px;
    height:278px;
    margin-left: 200px;

}

.offers2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    margin-bottom: 40px;
    width: 860px;
    height:278px;
    margin-left: 200px;

}


.offers3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    margin-bottom: 40px;
    width: 860px;
    height:278px;
    margin-left: 200px;

}


.offers4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    margin-bottom: 40px;
    width: 860px;
    height:278px;
    margin-left: 200px;

}

.offers-menu {
    font-size: 16px;
    line-height: 22px;
    color: white;
    text-decoration: underline;
    text-align: center;
}
.menu {
    border-radius: 160px;
}