* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color:#849d8f;
}

h1, h2, h3, h4 {
    margin: 0;
}
   img {
       display: block;
       max-width: 100%;
       height: auto;
   }
   ul, ol {
       padding: 0;
       margin: 0;
       list-style: none;
   }

li {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

p {
    margin: 0;
}

button {
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    outline: none;}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    font: inherit;
    outline: none;
}


select {
    font: inherit;
}

textarea {
    font: inherit;
}

body {
    margin: 0;
}

svg {
    pointer-events: none;
}


.container {
 max-width: 1200px;
 padding-left: 30px;
 padding-right: 30px;
}


.header-top {
 display: grid;
 grid-template-columns: auto 1fr auto;
 grid-gap: 20px;
 justify-content: flex-start;
 align-items: center;
 margin-bottom: 24px;

}
.header-inner {
display: flex;
flex-flow: flex-end;

}


  
  .user-navigation li:not(:last-child){
    margin-right: 12px;
  }
  
  .user-navigation>li:first-child{
    margin-left: 22px;
  }
  

.header-bottom {
    margin-top: -8px;
    margin-bottom: 30px;
  }

  .time {
    font-size: 14px;
    line-height: 16px;
    color: white;
font-weight: bold;
  }

.phone {
    font-size: 22px;
    line-height: 24px;
    color: white;
font-weight: bold;

}



.logo {
 width: 130px;
 object-fit: contain;
}

.nav__list {
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
 align-items: center;
}

.nav__item {
 padding: 4px  8px;

}

.nav__item:not(:last-child) {
 margin-right: 8px;
}

.nav__item:hover {
 border-radius: 20px;
 color: black;
 background-color: white;
}

.nav__link {
 font-weight: 700;
 color: #fff;
}

.banners__item1 {
 background-image: url(berry.png);
 width: 562px;
 height:232px;
margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 39px;

}
.header-info {
    display: flex;
    justify-content: flex-end;

}
.banners__item2 {
 background-image: url(chocolate.png);
 width: 562px;
 height:232px;

}

.advantages {
 background-image: url(waffle.jpg);
 width: 1150px;
 height:309px;
 border-radius: 20px;
 margin-left:200px;
 margin-right:25px;
    margin-top: 100px;
    padding: 33px 23px 29px 23px;
    margin-bottom: 40px;
}

.banners__item-title {
 font-size: 35px;
 line-height: 41px;
 color: white;
 padding-left: 20px;
 padding-bottom: 30px;

}
.ban {

 font-size: 18px;
 font-weight: bold;
 line-height: 22px;
 color: white;
 padding-left: 20px;
 padding-bottom: 50px;

}
.shop {

    font-size: 24px;
    line-height: 30px;

}



.offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    margin-bottom: 40px;
    width: 860px;
    height:278px;
    margin-left: 200px;
  


}
.banners {
    display: flex;
    margin-left: 200px;


}
.slide__item {
    font-size: 60px;
    line-height: 60px;
    color: black;
    padding-top: 250px;
    text-align: center;
}
.slide1 {

    background-image: url(ice-creams.jpg);
    width: 650px;
    height:507px;
    justify-content: center;

}
.index-slider {
    justify-content: center;
    margin-bottom: 44px;
    margin-left: 500px;
    margin-right: 118px;
}
.button banners__item-link {
 
    display: block;
    width: 281px;
    height: 85px;
    border-radius: 50%;
    background-color: #ed5b3d;
    font-size: 32px;
    padding: 10px 4px;
    border-radius: 40px;
    text-align: center;
  

}
.index-slider a {

    display: block;
    width: 200px;
    height: 55px;
    color: white;
    border-radius: 50%;
    background-color: #ed5b3d;
    font-size: 32px;
    padding: 10px 4px;
    border-radius: 40px;
    text-align: center;
    margin-left: 230px;
    margin-top: 40px;
} 

.banners__item1 a{
    display: block;
    width: 201px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 14px;
    border-radius: 40px;
    text-align: center;
text-decoration: white;
background-color:#eb553a;
margin-left: 350px;
}


.banners__item2 a{
    display: block;
    width: 201px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 14px;
    border-radius: 40px;
    margin-left: 350px;
    margin-bottom: 100px;
    text-align: center;
text-decoration: white;
background-color:#eb553a;
}

.button banners__item-link2 {

    margin-bottom: 100px;

}

.button_1:hover  {
    display: block;
    width: 201px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 40px;
    text-align: center;
text-decoration: white;
background-color:#eb553a;
}


.offers__title {

    width: 275px;
    height:200px;
}

.advantages-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages-list li{
    position: relative;
    width: 50%;
    margin-bottom: 2px;
}


.about__item._1::before {
    background-image: url ('10.svg');
}

.about__item._2::before {
    background-image: url ('11.svg');
}
.about__item._3::before {
    background-image: url ('12.svg');
}
.about__item._4::before {
    background-image: url ('12.svg');
}


.send {
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}

.wrap {

    padding-top: 40px;
}

.subscribe {
    background-image: url('pon.png');
    width: 562px;
 height:232px;
}
.index-new-post {
    background-image: url(strawberry.jpg);
    font-size: 16px;
    line-height: 22px;
    color: black;
    width: 562px;
    height:232px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 39px;
    border-radius: 30px;
}

.new {
padding: 10px;
font-weight: bold;
}

.bright {
    font-size: 24px;
    line-height: 30px;
    color: black;
text-decoration: underline;
    padding: 10px;
}


.container2 {
    display: flex;
 
    margin-bottom: 40px;
    margin-left: 200px;


}


iframe {
    width: 1400px;
    height: 430px;
    border: 0;
}



.advantages-list li{
    position: relative;
    width: 50%;
    margin-bottom: 2px;
}

.advantages-list p{
    margin: 0;
    margin-top: 20px;
    padding-left: 56px;
    padding-right: 10px;
}


.advantages-list li::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.menu {
    border-radius: 160px;
}
.offers-menu {
    font-size: 16px;
    line-height: 22px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.map{
    height: 427px;
    margin: 0 -27px;
    margin-bottom: 1px;
    display: flex;

    justify-content: flex-end;

    align-items: center;
    position: relative;
    color: #323232;
    background-color: #c7c6c5;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('map.png');





}

.map-information{
position: absolute;
    top: 62px;
    right: 28px;
    width: 1000px;
    padding-top: 27px;
    padding-left: 25px;
    padding-right: 24px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
    margin-right: 100px;
}

.adress{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.map-phone {
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

  
  .footer-social a { 
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 7px;
  
    font-size: 0;
  
    border: 4px solid rgba(194, 206, 199, 1.0);
  
    border-radius: 50%;
    opacity: 0.8;
    vertical-align: bottom;
  }
.page-footer {
display: flex;
margin-left: 200px;
margin-right: 200px;
margin-top:50px;
margin-bottom:50px;
}

.footer-social {

width: 350px;



}
.documents-wrapper {
    width: 200px;

}

.footer-copyright {

 
    width: 500px;
    margin-left: 400px;
}

.main {
margin-right: auto;
margin-left: auto
}

